@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('file:///C:/Users/user/Desktop/Tree/Donation_Tree/public/godoFont/GodoB.ttf');
}
  
body{
    background-color: #88df8e;
}

.loginForm, .registerForm{
    margin: auto;
    margin-top: 5%;
    width:350px;
    height:500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #F8F7F2;
    text-align: center;
}

.title{
    margin-bottom: 75px;
}
.idForm, .passForm , .nameForm{
    border-bottom: 2px solid #B2B2B2;
    margin-bottom: 10px;
}
.id, .pw, .name{
    font-family: 'Godo';
    font-size: 17.5px;
    width:300px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #F8F7F2;
    border:none;
    outline:none;
}

.btn{
    font-family: 'Godo';
    font-weight: bold;
    margin: auto;
    margin:50px;
    width:100px;
    height:50px;
    background-color: #F8F7F2;
    border-style: none;
    border: 2px solid #ac7659;
    color: #ac7659;
    border-radius: 10px;
}